@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
* {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

/* Container  */
    .container{
        position: absolute;
        width: 100%;
        height: 100%;
        /* background-color: rgb(146, 201, 246); */
        background-image: linear-gradient(180deg, rgb(128, 196, 251) 15%, rgb(21, 70, 85) 80%);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 90% 1fr;
    }

/* Container body  */
    .container .c-body{
        grid-row: 1/2;
        padding: 2rem;
        display: grid;
        gap: .5rem;
        grid-template-columns: repeat(4,1fr);
    }

/* Start : General setup for wrapper images  */
    .wrapper-img{
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 4px;
        box-shadow: 0 0 5px #081757;
    }

    .wrapper-img:hover{
        cursor: pointer;
    }


/* Start: Image one  */
    .c-body .img-1{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .c-body .img-1 > p{
        z-index: 2;
        font-size: 1.2rem;
        text-align: center;
        color: #fff;
        transform: translate(0, -2rem);
        opacity: 0;
        transition: transform .2s,
                    opacity .2s;
    }

    .c-body .img-1::before{
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        background-color: #463a31;
        opacity: .8;
        border-radius: 50%;
        transform: scale(0);
        transition: transform .2s .2s,
                    border-radius .1s .2s;
    }

    /* Hover setup  */
        .img-1:hover.img-1::before{
            transform: scale(1);
            border-radius: 4px;
            transition: transform .2s,
                        border-radius .1s;
        }

        .img-1:hover>p{
            transform: translate(0, 0);
            opacity: 1;
            transition: transform .2s .3s,
                        opacity .2s .3s;
        }

/* Start: Image two  */

    .c-body .img-2{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .c-body .img-2:after{
        z-index: 1;
        position: absolute;
        width: 50%;
        height: 0;
        content: "";
        top: 0;
        left: 0;
        background-color: rgb(69, 97, 105);
        border-radius: 4px 0 0 4px;
        transition: height .2s .3s;
        opacity: .8;
    }

    .c-body .img-2:before{
        z-index: 1;
        position: absolute;
        width: 50%;
        height: 0;
        content: "";
        right: 0;
        bottom: 0;
        background-color: rgb(57, 68, 92);
        border-radius: 0 4px 4px 0;
        transition: height .2s .3s;
        opacity: .8;
    }

    
    .img-2 p{
        z-index: 2;
        text-align: center;
        color: #fff;
        transform: translate(-1rem,0);
        opacity: 0;
        transition: transform .2s,
        opacity .1s;
    }
    
    /* Hover setup  */
        .img-2:hover.img-2:after,
        .img-2:hover.img-2:before{
            height: 100%;
            transition: height .2s;
        }
        
        .img-2:hover > p{
            transform: translate(0);
            opacity: 1;
            transition: transform .2s .3s,
                        opacity .2s .3s;
        }

/* Start: Image three */
    .c-body .img-3{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-3::before{
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 0%;
        content: "";
        clip-path: polygon(0 0, 0% 100%, 100% 0);
        border-radius: 4px;
        background-color: #111111;
        opacity: .8;
        transition: width .2s .2s,
        height .2s .2s;
    }

    .img-3::after{
        z-index: 1;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0%;
        height: 0%;
        content: "";
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        border-radius: 4px;
        background-color: #111111;
        opacity: .8;
        transition: width .2s .2s,
                    height .2s .2s;
    }

    .img-3 p{
        z-index: 2;
        text-align: center;
        color: #fff;
        padding: 1rem 0;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: scale(0);
        transition: transform .2s;
    }

    /* Hover setup  */
    .img-3:hover.img-3::before,
    .img-3:hover.img-3::after{
        width: 100%;
        height: 100%;
        transition: width .2s,
                    height .2s;
    }

    .img-3:hover.img-3 > p{
        transform: scale(1);
        transition: transform .2s .2s;
    }

/* Start: Image four */

    .c-body .img-4{
        z-index: 1;
        position: relative;
        background-position: left;
        transition: background-position .4s .2s;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-4::before{
        z-index: 1;
        position: absolute;
        width: 0%;
        left: 0;
        top: 0;
        height: 100%;
        content: "";
        background-image: linear-gradient(180deg,rgba(13, 90, 25, 0.7) 20%, rgba(0, 3, 1, 0.7) 80%);
        transition: width .4s .2s;
        border-radius: 4px;
    }

    .img-4 p{
        z-index: 2;
        text-align: center;
        color: #fff;
        transform: translate(0,3rem);
        opacity: 0;
        transition: transform .2s,
                    opacity .2s;
    }

    
    /* Hover setup  */
        .img-4:hover{
            background-position: center;
            transition: background-position .4s;
        }

        .img-4:hover.img-4::before{
            width: 100%;
            transition: width .4s;
        }

        .img-4:hover > p{
            opacity: 1;
            transform: translate(0);
            transition: transform .2s .4s,
                        opacity .2s .4s;
        }

/* Container footer  */
    .container .c-footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .c-footer small{
        font-size: .6rem;
        color: rgb(139, 139, 139);
    }

